* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2A2A2E;
    color: white;
    font-family: 'Roboto Mono', sans-serif;;
}

a {
    color: white;
}

img {
    width: 100%;
}

.background-img {
    position: relative;
    background-image: url("/assets/img/laptop-computer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.overlay::before {
    position: absolute;
    content: "";
    background: #2a354f;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: 0;
} 

.container {
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.large {
    height: 100vh;
}

.large-inner {
    padding-top: 25vh;
}

.name {
    margin-bottom: 1.25rem;
    color: #ff274e;
    letter-spacing: 2px;
    font-size: 40px;
}

.description {
    font-size: 30px;
}

.line {
    color: #ff274e;
    width: 100%;
    margin: 3rem 0 3rem 0;
}

.info-heading {
    line-height: 30px;
    margin: 0 auto;
    max-width: 500px;
    font-size: 20px;
    font-weight: 300;   
}

.info-connect {
    margin: 2rem;
}

.linkedin {
    color: #0077B5;
    margin-left: 1rem;
    font-size: 24px;
}

.github {
    font-size: 24px;
}

.phone {
    margin-left: 1rem;
    font-size: 24px;
}

.mail {
    margin-left: 1rem;
    font-size: 24px;
    color: #ff274e;
}