* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2A2A2E;
    color: white;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

img {
    width: 100%;
}

.background-img {
    position: relative;
    background-image:  url("../img/laptop-computer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
}

.background-img:before {
    position: absolute;
    content: "";
    background: #2A2A2E;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: 0;
} 

.container {
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.large {
    height: 100vh;
    position: relative;
}

.large-inner {
    padding-top: 20vh;
}

.name {
    margin-bottom: 1.25rem;
    color: #ff274e;
    letter-spacing: 2px;
    font-size: 40px;
}

.description {
    font-size: 30px;
    font-weight: 700;
}

.line {
    color: #ff274e;
    width: 100%;
    margin: 3rem 0 3rem 0;
}

.info-heading {
    line-height: 30px;
    margin: 0 auto;
    max-width: 500px;
    font-size: 20px;
    font-weight: 600;   
}

.info-connect {
    margin: 2rem;
}

.info-connect_heading {
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 1rem;
}

.linkedin {
    color: #007BB4;
    margin-left: 1rem;
    font-size: 24px;
}

.github {
    font-size: 24px;
}

.phone {
    margin-left: 1rem;
    font-size: 24px;
    color: #29BC00;
}

.mail {
    margin-left: 1rem;
    font-size: 24px;
    color: #0071C5;
}

.btn {
    color:white;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 5px;
    font-size: .75rem;
}

.btn:hover {
    opacity: 1;
  }

.btn-50 {
    width: 50%;
    border-radius: 0;   
}

.btn-100 {
    width: 30%;  
}

.btn-primary {
    background-color: #ff274e;
}

.btn-secondary {
    background-color: #737894;
}

.footer {
    background-color:#2A2A2E;
    color:white;
    padding-top: 4em;
    padding-bottom: 4em;
}